<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAJITA MUSICAL</title>
    <!-- SEO -->
	<meta name="descritption" content="Ecommerce de instrumentos musicales, con envio a todo el pais.">
	<meta name="keywords" content="Ecommerce de instrumentos y articulos musicales">
	<link rel="canonical" href="https://www.cajita-musical.co/" /> 
    <!-- BOOSTRAP -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous"> -->
    <!-- CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>

<!-- comienzo del header -->

    <header>    

        <!-- comienzo del header top -->
        <div class="header_top">
            <img src="./img/imagotipo.svg" class="logo_desktop" alt="logo del sitio cajita musical.">
            <img src="./img/isotipo.svg" class="logo_mobile" alt="logo del sitio cajita musical.">
            <input type="text" class="search_input" placeholder="Busca por marca, instrumento, etc.">
            <button class="login_btn"  > 
                <img src="./img/icon_btn_login.svg" alt=""> 
                <span class="txt_btn_login"> Mi cuenta</span>
            </button>
            <ul style="align-content: center; margin-top: auto;margin-bottom: auto;">
                <li class="burguer_li">
                    <button class="burguer_menu"> 
                        <img src="./img/dot_menu.svg" alt="">
                    </button>
                    <ul class="burguer_menu_list" >
                        <li><a href="">Iniciar sesion</a></li>
                        <span>CATEGORIAS</span>
                        <li><a href="">Cuerdas</a></li>
                        <li><a href="">Percusión</a></li>
                        <li><a href="">Vientos</a></li>
                        <li><a href="">Teclas</a></li>
                        <li><a href="">Favoritos</a></li>
                        <li><a href="">Rgistrate</a></li>
                    </ul>
                </li>
            </ul>
            <button class="btn_header_bottom btn_cart_mobile" > 
                <img src="./img/icon_carrito.svg" alt="">
            </button>
        </div>


<!-- comienzo del bottom -->


        <div class="header_bottom">
            <div class="location_address">
                <img src="./img/icon_gps.svg" class="icon_gps" alt="">
               <div class="delivery_post">
                 <p class="p_gps"> Enviar a:</p>
                <a href="" class="a_gps_2" > Ingresa CP y conoce costo de envío.</a> 
                </div>
            </div>
            <nav class="nav_header">
                <ul class="nav_ul_header">
                    <li class="nav_ul_li_header">
                        <a href="">Categorias</a>
                        <ul class="nav_ul_li_cat_ul">
                            <li class="nav_ul_li_cat_ul_li" >
                                <a href="">Cuerdas</a>
                            </li>
                            <li>
                                <a href="">Percusión</a>
                            </li>
                            <li>
                                <a href="">Vientos</a>
                            </li>
                            <li>
                                 <a href="">Teclas</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav_ul_li_header">
                        <a href="">Ofertas</a>
                    </li>
                    <li class="nav_ul_li_header">
                        <a href="">Historial</a>
                    </li>
                    <li class="nav_ul_li_header">
                        <a href="">Mis Compras</a>
                    </li>
                </ul>
            </nav>
            <div class="btns_header_bottom">
                <a href="#" class="btn_header_bottom" > 
                    <img class="img_btn_fav"src="./img/icon_heart.svg" alt="">
                    <span class="txt_btn_icon">Favoritos</span> 
                </a>
                <a href="#" class="btn_header_bottom"> 
                    <img class="img_btn_cart" src="./img/icon_carrito.svg" alt="">
                    <span class="txt_btn_icon">Carrito</span> 
                </a>
            <a href="#"class="btn_header_bottom_2">REGISTRATE</a>
            </div>
        </div>
    </header>


<!-- comienzo del main -->


    <main style="height:100vh;">
    
        <section class="slider">
            <img style="width: 100%;"  src="/img/slider_cm_1.jpeg" alt="">
        </section>
        <section class="slider_mobile">
            <img style="width: 100%;"  src="/img/slider_cm_1_mobile.jpeg" alt="">
        </section>
        <h3 style="margin-top: .7%; margin-bottom: 1%; text-align: center; font-weight: 300;">CATEGORIAS</h3>
        <section style="display:flex; justify-content: space-evenly;">
            <div style="width: 22%; border-style: solid; border-color: black; border-width: 1px;">
                <img style="width: 100%;" src="/img/cat_guitar_color.jpg" alt="">
                <div style="padding-left:5%;">
                <h4>CUERDAS</h4>
                    <p style="font-weight: 300;">Guitarras, Bajos, Violines, Contrabajos ...</p>
                </div>
            </div>
            <div style="width: 22%; border-style: solid; border-color: black; border-width: 1px;">
                <img style="width: 100%;" src="/img/cat_drumms_color.jpg" alt="">
                <div style="padding-left:5%;">
                <h4>PERCUSIÓN</h4>
                    <p style="font-weight: 300;">Baterías, tambores, platos, djembes...</p>
                </div>
            </div>
            <div style="width: 22%; border-style: solid; border-color: black; border-width: 1px;">
                <img style="width: 100%;" src="/img/cat_keys_color.jpg" alt="">
                <div style="padding-left:5%;">
                <h4>TECLAS</h4>
                    <p style="font-weight: 300; font-size: 14px;">Teclados, Pianos, Sintetizadores...</p>
                </div>
            </div>
            <div  style="width: 22%; border-style: solid; border-color: black; border-width: 1px;">
                <img style="width: 100%;" src="/img/cat_winds_color.jpg" alt="">
                <div style="padding-left:5%;">
                <h4>VIENTOS</h4>
                    <p style="font-weight: 300;">Flautas, Saxofones, Clarinetes, Didjeridoo...</p>
                </div>
            </div>

        </section>
    </main>


<!-- comienzo del footer -->


    <footer>
        <section class="copyright">
                <img src="/img/isotipo_white.svg" alt="isotipo de la marca">
                <div >
                    <p>Copyright © 2021 Cajita Musical S.R.L.</p>
                    <p>Av. Caseros 3039, Piso 2, CP 1264, Parque Patricios, CABA</p>
                </div>
        </section>
        <section class="terms">
                <a href="">Términos y condiciones</a>
                <a href="">Politicas de privacidad</a>
                <a href="">Contacto</a>
        </section>
        <section class="rrss">
            <span class="txt_rsss">Seguinos</span>
            <div class="icons_rrss">
                <a href=""><img class="icon_rrss" src="/img/icon_face.svg" alt=""></a>
                <a href=""><img class="icon_rrss" src="/img/icon_insta.svg" alt=""></a>
                <a href=""><img class="icon_rrss" src="/img/icon_twit.svg" alt=""></a>
                <a href=""><img class="icon_yt" src="/img/icon_youtube.svg" alt=""></a>  
            </div>
        </section>
    </footer>
<!-- JS BOOSTRAP -->
<!-- <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script> -->
</body>

</html>